.bg_waterGreen {
    background-color: #009688;
}

.container {
    height: 100vh;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#app {
    background-color: #d9dbd3;
}

.greenBackLine {
    background-color: #009688;
    height: 15%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.avatarIcons {
    color: #989898;
}

.avatar_img {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_nav {
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    padding: .7rem;
}

.notifications {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: .7rem;
    padding-left: 1rem;
}

.notification_icon {
    background-color: white;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
}

.small_text {
    color: #769599;
    font-size: .7rem;
}

.medium_text {
    color: #769599;
    font-size: .8rem;
}

.input-group {
    background-color: #fafafa;
}

.chat_list_item {
    display: flex;
    padding: .7rem;
    padding-left: 1rem;
}

.chat_time {
    font-size: .7rem;
}

.chat_window {
    background-image: url("../img/mine.jpg");
    padding: 3rem 5rem;
}

.chat_inputs {
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.message_baloon {
    background-color: #989898;
    display: inline-block;
    padding: 1rem;
}

.message_time {
    font-size: .7rem;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.message-wrapper {
    display: flex;
    margin-bottom: .5rem;
}

.sent {
    margin-left: auto;
    background-color: #d5f9ba;
}

.recived {
    background-color: white;
}